body {
	margin: 0;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
}
.header {
	height: 100px;
	background-color: #f4f4f4;
	box-shadow: 0 0 7px rgba(0, 0, 0, .7);
}
.container {
	width: 900px;
	margin: 0 auto;
}
.btns-container {
	padding: 55px 0 0;
	float: left;
}
.search-field {
	padding: 55px 0 0;
	float: right;	
}
.btn-action {
	width: 85px;
	height: 25px;
	background-color: #006fca;
	color: #fff;
	border: none;
	outline: none;
	border-radius: 2px;
	text-shadow: 0 1px 2px rgba(0,0,0, .7);
	box-shadow: 0 1px 2px rgba(0,0,0, .7);
	margin-right: 10px;
	transition: all .3s ease-out;
}
.btns__label_btn-appearance {
	line-height: 25px;
    display: inline-block;
    text-align: center;
	vertical-align: top;
}
.btns__checkbox_btn-appearance {
	display: none;
}
.btn-action:hover {
	background-color: #058eff;
	box-shadow: 0 2px 3px rgba(0,0,0, .7);
}
.btn-action:active {
	background-color: #0065b8;
	box-shadow: 0 1px 2px rgba(0,0,0, .7) inset;
}
.search-input {
	width: 200px;
	height: 25px;
	box-shadow: 0 1px 2px rgba(0,0,0, .7) inset;
	border-radius: 2px;
	padding-left: 10px;
	outline: none;
    border: 1px solid #ddd;
}
.search-field:before {
    content: '';
    width: 15px;
    height: 15px;
    margin-right: 5px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAoElEQVR42oVQ7QqCQBC8938kKaWwMMy0M/MDTD1/GfSjJ9icizNuNVxYFmZndndWiDGerzdd7g1tjqnOKGsImOAB0A0ycg7Sym1wmwuuRaebslRTI62UxrDBIu/CXDf4RmDYaIH783+yd2JkWZozOvph3zPivKWZQUzgBnHCox+WPwKjICCTcWKthsnk4ht5gAiBHxXrAhBANILV6UaA+gFCm9cJDPXarQAAAABJRU5ErkJggg==');
    background-size: cover;
    display: inline-block;
    vertical-align: sub;
}

.nav {
	padding: 20px 0 10px;
}
.month-nav {
	display: inline-block;
	margin-right: 10px;
}
.today-nav {
	display: inline-block;
	vertical-align: top;
}
.curr-date {
	display: inline-block;
	font-size: 18px;
	vertical-align: top;
}
.nav-btn {
    padding: 1px 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,.7) inset;
    outline: none;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ddd;
    color: rgba(0,0,0,.7);
}
.nav-btn:active {
	box-shadow: 0 1px 5px rgba(0,0,0,.7) inset;
}
.prev, .next {
	width: 20px;
	height: 20px;
	position: relative;
}
.prev:after {
	content: '';
	border: 4px solid transparent;	
	border-right: 4px solid #000;
	display: block;
	position: absolute;
	top: 5px;
	left: 2px;
}
.next:after {
	content: '';
	border: 4px solid transparent;	
	border-left: 4px solid #000;
	display: block;
	position: absolute;
	top: 5px;
	right: 2px;	
}

.calendar-field {
	display: table;
	border-collapse: collapse;
	margin-bottom: 40px;
}
.calendar-row {
	display: table-row;
}
.calendar-cell {
	display: table-cell;
	border: 1px solid #ddd;
	width: 128px;
	height: 110px;
	color: #a9a9a9;
	box-sizing: border-box;
	padding: 10px;
	font-size: 14px;
	position: relative;
}
.current-day {
	background-color: #f4f4f4;
}
.current-day span {
	color: #7e7e7e;
	font-weight: bold;
}
.calendar-cell:focus {
	border: 1px solid #83c8ff;
	background-color: #e5f1f9;
}
.theme {
	color: #666;
	font-weight: bold;
	margin: 10px 0 5px;
}
.members {
	color: #666;
}
.assigned {
	background-color: #c1e4ff;
}
.event-form {
	background-color: #fff;
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,.7);
	margin: 0 auto;
	padding: 30px 20px 20px;
	box-sizing: border-box;
	position: relative;
	display: none;
}
.event-form_main-window {
	width: 300px;
	height: 330px;
	position: absolute;
}
.event-form__triangle {
	width: 30px;
    height: 30px;
    position: absolute;
    overflow: hidden;
    box-shadow: 0px 15px 10px -15px rgba(0,0,0,.7);
}
.event-form__triangle:after {
	content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #fff;
    transform: rotate(45deg);

}
.event-form__triangle_left-side {
	left: -30px;
    top: 50px;
}
.event-form__triangle_left-side:after {
	right: -10px;
    top: 5px;
    box-shadow: -3px 4px 10px -2px rgba(0,0,0,.5);
}
.event-form__triangle_top-side {
    top: -10px;
    left: 25px;
}
.event-form__triangle_top-side:after {
	left: 5px;
    top: 5px;
    box-shadow: -5px -5px 5px -5px rgba(0,0,0,.5);
}
.event-form__input {
	width: 100%;
	height: 25px;
	box-shadow: 0 1px 2px rgba(0,0,0, .7) inset;
	border-radius: 2px;
	padding-left: 10px;
	outline: none;
    border: 1px solid #ddd;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.event-form__textarea {
	width: 100%;
	padding-left: 10px;
	padding-top: 5px;
	resize: none;
	box-sizing: border-box;
	margin: 20px 0;
	box-shadow: 0 1px 2px rgba(0,0,0, .7) inset;
	border-radius: 2px;
	outline: none;
	font-family: Arial, sans-serif;
}
.event-form__btn {
	margin-right: 10px;
}
.event-form__btn-close {
	position: absolute;
	right: 8px;
	top: 14px;
}
.event-form__btn-close i {
	display: block;
	width: 8px;
	height: 1px;
	background-color: #808080;
}
.event-form__btn-close i:first-child {
	transform: rotate(45deg);
}
.event-form__btn-close i:last-child {
	transform: translateY(-1px) rotate(-45deg);
}

.event-form_mini-window {
	position: absolute;
	z-index: 1;
	margin-top: 10px;
}
.btns__checkbox_btn-appearance:checked ~ .event-form_mini-window {
	display: block;
}
.btns__checkbox_btn-appearance:checked ~ .btns__label_btn-appearance {
	background-color: #0065b8;
	box-shadow: 0 1px 2px rgba(0,0,0, .7) inset;
}
.empty-error {
	border-color: red;
}